In [1]:
from bs4 import BeautifulSoup
import requests

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [7]:
page = requests.get(url)

soup = BeautifulSoup(page.text, features="html.parser")

In [14]:
# print(soup)

In [40]:
# soup.find_all('table')[1]

In [41]:
# soup.find('table', class_ = 'wikitable sortable')
# <table class="wikitable sortable jquery-tablesorter">
# <caption>

In [37]:
table = soup.find_all('table')[1]

In [33]:
world_titles = table.find_all('th')

In [34]:
world_table_titles = [title.text.strip() for title in world_titles] # List Comprehension

In [35]:
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [45]:
# Import For Pandas DataFrame
import pandas as pd # import to use pandas

In [57]:
df = pd.DataFrame(columns = world_table_titles)

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [49]:
column_data = table.find_all('tr')

In [55]:
for row in column_data:
    row_data = row.find_all('td')
    individ_row_data = [data.text.strip() for data in row_data] # List Comprehension
    print(individ_row_data)
    # While iterating through each table row in the table append to the DataFrame
    lenght = len(df)
    # Use lenght to input information into the next position of the DataFrame
    df.loc[length] = individ_row_data

[]

NameError: name 'df' is not defined